@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Sedan+SC&family=Sedan:ital@0;1&display=swap');

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url(../images/pic16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.text-container {
  flex: 1;
  padding: 20px;
  text-align: left;
  color: #333;
  animation: slideInLeft 1s ease-in-out;
}

.home-small-container {
  background: rgba(0, 0, 0, 0.349);
  font-family: "Sedan SC", serif;
  font-size: 17px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  text-align: center;
  margin-right: 50px;
  animation: slideInRight 1s ease-in-out;
}


.home-item {
  width: auto;
  padding: 15px;
  margin: 10px 0;
  background: #9ea9ff2d;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.403);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Sedan", serif;
}

.home-item:hover {
  background-color: #dfebff61;
  color: #ffffff;
  transform: scale(1.02);
}

.home-item:active {
  transform: scale(0.95);
}

.logout-button {
  font-family: "Sedan SC", serif;
  font-size: 17px;
  padding: 5px;
  width: 100px;
  background-color: var(--color, #ffffffd7);
  border: 1px solid var(--color, #ccc);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.25s;
  text-align: center;
  margin: 0 auto;
}

.logout-button:hover,
.logout-button:focus {
  box-shadow: 0 1em 0.7em -0.6em var(--hover, #00ff22);
  transform: translateY(-0.40em);
  color: #1d1d1d;
}

.logout-container {
  margin-top: 20px;
}

.heading-home {
  font-size: 50px;
  color: aliceblue;
  font-family: "Sedan SC", serif;
}

.text-cursive {
  color: aliceblue;
  font-family: "Dancing Script", cursive;
}

.text-home {
  color: aliceblue;
  font-family: "Sedan SC", serif;
}