.btn-container {
    display: flex;
    align-items: center;
  }
  
.ci-backbutton {
    margin-bottom: 2rem;
    background-color: #c60059;
    font-family: "Sedan", serif;
    color: white;
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: -13.6rem;
}

.ci-backbutton:hover {
    box-shadow: 0 6px 10px rgba(0, 255, 8, 0.715);
    transform: scale(1.02);
    background-color: #ffd8ed;
    color: black;
}